{% extends "base.html" %}

{% block content %}
  <h1>Edit Your Profile</h1>
  <form action="" method="POST" name="edit">
      {{form.hidden_tag()}}
      <table>
          <tr>
              <td>Your company name:</td>
              <td>{{ form.company_name(size=24) }}</td>
          </tr>
          <tr>
              <td>About your company:</td>
              <td>{{ form.about(cols=32, rows=10) }}</td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Save Changes"></td>
          </tr>
      </table>
  </form>
{% endblock %}