{% extends "base.html" %}
{% block content %}

<form action="" method="POST" name="edit">
  {{form.csrf_token}}
  {{form.hidden_tag()}}
  <table>
      <tr>
          <td>Username:</td>
          <td>{{ form.username(size=24) }}</td>
      </tr>
      <tr>
          <td>Password:</td>
          <td>{{ form.password(size=24) }}</td>
      </tr>
      <tr>
          <td>email:</td>
          <td>{{ form.email(size=24) }}</td>
      </tr>
      <tr>
          <td>Select user type(s)</td>
          {% for subfield in form.utype %}
              <tr>
                <td>{{ subfield.label(size=24) }} : {{ subfield(size=24) }}</td>
              </tr>
              {% endfor %}
      </tr>
      <tr>
          <td></td>
          <td><button type="submit">Create</button></td>
      </tr>
  </table>
</form>
{% endblock %}